<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>404</title>
</head>
<body>
  <div class="wrapper">
   
    <div class="container" data-text="404">
        <div class="title glitch" data-text="404">
            404
        </div>
        <div class="description glitch" data-text="PAGE NOT FOUND">
            PAGE NOT FOUND
        </div>
    </div>

</div>
</body>
</html>