<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Noticias</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Comffee</title>
</head>
<body>
    <div class="main">
        <div class="section1">
            <div class="header">
                <a href="youtube"><div class="logo">Noticias</div></a>
                <div class="nav-btn">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Esportes</a></li>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="#"><span class="acc">Login</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="hero-main">
                <div class="hero-contents">

                <div class="hero-img">
                    <p class="brandName">Noticias!</p>
                </div>
                <div class="hero-text"><p>Seja sobre avanços científicos, eventos culturais, projetos inovadores ou conquistas de nossos alunos e professores, nossa equipe dedicada está sempre em busca das histórias mais interessantes e relevantes para compartilhar com você. </p></div>
                
                <a href="#" class="hero-img-btn">Login</a>
                </div>
            </div>
        </div>
        <div class="section2">
        </div>
    </div>
</body>
</html>
</body>
</html>